<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>哈尔滨</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/js/head.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/travel.css">
</head>
<body>
<!--导入公共头部-->
<div th:replace="~{common/head::traveltop}"></div>
<div th:replace="~{common/head::userInfo}"></div>

<div class="sanya" style="margin-top: -20px">
    <div class="scenery-head">
        <div class="container">
            <div class="row">
                <h3><strong>哈尔滨&nbsp;&nbsp;&nbsp;&nbsp;Haerbin</strong></h3>
                <span>欢迎您访问哈尔滨</span>
                <hr>
                <div class="col-lg-8">
                    <p>哈尔滨市，简称“哈”，别称冰城，古称上京、会宁府、阿勒锦、滨江，是黑龙江省省会、副省级市、哈尔滨都市圈核心城市，国务院批复确定的我国东北地区重要的中心城市，国家重要的制造业基地</p>
                    <p>哈尔滨是国家历史文化名城，是“一国两朝”发祥地，即金、清两代王朝发祥地，金朝第一座都城就坐落在哈尔滨阿城，清朝肇祖猛哥帖木儿出生在哈尔滨依兰，金源文化由此遍布东北，发扬全国，是热点旅游城市和国际冰雪文化名城，素有“冰城”“东方莫斯科”“东方小巴黎”之称。</p>
                    <p>2017年11月复查确认继续保留全国文明城市荣誉称号 ，中国百强城市排行榜排第23位 ；2017年12月获得“厕所革命优秀城市奖”  ，当选中国十佳冰雪旅游城市；2018年10月获全球首批“国际湿地城市”称号。</p>

                </div>
                <div class="col-lg-4">
                    <!--视频控件-->
                    <video controls>
                        <source src="../../video/哈尔滨.mp4" type="video/mp4">
                        <source src="../../video/哈尔滨.ogg" type="video/ogg">
                        <source src="../../video/哈尔滨.webm" type="video/webm">
                        <object data="../../video/哈尔滨.mp4" width="320" height="240">
                            <embed src="../../video/哈尔滨.swf" width="320" height="240">
                        </object>
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="container scenery-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页</a></li>
                    <li role="presentation"><a href="#scenery" aria-controls="scenery" role="tab" data-toggle="tab">景点</a></li>
                    <li role="presentation"><a href="#accommodation" aria-controls="accommodation" role="tab" data-toggle="tab">住宿</a></li>
                    <li role="presentation"><a href="#cate" aria-controls="cate" role="tab" data-toggle="tab">美食店</a></li>
                </ul>

            </div>
            <div class="panel-body">

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <!-- 哈尔滨主页 -->
                        <div class="main-info">
                            <div class="strategy">
                                <h2>旅游攻略</h2>
                                <div class="strategy-head">
                                    <h3>景点概况</h3>
                                    <hr>
                                </div>
                                <div class="strategy-item">
                                    <h4>哈尔滨速览</h4>
                                    <div>
                                        <p>哈尔滨素来有着“东方小巴黎”、“东方莫斯科”的美名，市内建筑中西合璧</p>
                                        <p>区内有圣索菲亚教堂、尼古拉教堂、俄罗斯木屋、哥特式楼宇、中央大街、哈尔滨极地馆、防洪纪念塔、文庙、极乐寺、萧红故居、苏联红军烈士纪念碑等文物古迹和东北林园、亚布力滑雪旅游度假区、原始森林等500余处人文自然景观</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>最佳旅行时间</h4>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p>去哈尔滨旅游最佳季节当然是冬季啦，以每年12月至次年1月为最佳；其次是夏季，可以避暑。</p>
                                            <p>冬季去哈尔滨可以看到满目的银装素裹,虽然寒冷,却到处可以看到与江南水乡迥异的雪地冰天景色;可以去冰雪大世界逛逛，它被称为“冰雪迪士尼乐园”，在此地方你可以欣赏到最宏伟磅礴，最美丽，最高大的冰雪奇观，尽显哈尔滨冰雪文化的无限魅力，让你流连忘返，陶醉其中。冬季的哈尔滨还有很多雪地活动，非常适合游玩。</p>
                                            <p>夏季可以来哈尔滨避暑度假，去太阳岛上看掩映在绿意中的欧式建筑，或者静坐在松花江看游船来往，也可以去哈尔滨啤酒节或者音乐节上纵情狂欢。</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-thumbnail" th:src="@{/images/homepage/haerbin_1.jpg}">
                                        </div>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>建议游玩天数</h4>
                                    <div>
                                        <p>3-5天。</p>
                                    </div>
                                </div>
                                <div class="strategy-head">
                                    <h3>景点游玩</h3>
                                    <hr>
                                </div>
                                <div class="strategy-item">
                                    <h4>路线推荐</h4>
                                    <div>
                                        
                                        <p>D1  中央大街 → 圣索菲亚大教堂 → 哈尔滨市人民防洪胜利纪念塔 → 斯大林公园 → 松花江</p>
                                        <p>D2  老道外 → 龙塔 → 果戈里大街 → 圣阿列克谢耶夫教堂</p>
                                        <p>D3  太阳岛风景区 → 太阳岛风景区-俄罗斯风情小镇 → 哈尔滨极地馆</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>必游景点</h4>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/haerbin_2.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">雪谷</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/haerbin_3.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">圣索菲亚大教堂</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/haerbin_4.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">中央大街</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/haerbin_5.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">哈尔滨极地馆</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="scenery">
                        <!-- 哈尔滨景点 -->
                        <div class="row">

                            <!--/*@thymesVar id="sceneries" type="com.travel.domain.Scenery"*/-->
                            <div th:each="scenery:${sceneries}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <!--/*@thymesVar id="scenery" type="com.travel.domain.Scenery"*/-->
                                        <img th:src="@{${scenery.url}}" alt="...">
                                        <div class="caption">
                                            <h3 th:text="${scenery.name}"></h3>
                                            <p th:text="${scenery.location}"></p>
                                            <p th:text="${scenery.openTime}"></p>
                                            <span th:text="${scenery.level}"></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span th:text="${scenery.price}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="accommodation">
                        <!--哈尔滨住宿-->
                        <div class="row">
                            <!--/*@thymesVar id="hotels" type="com.travel.domain.Hotel"*/-->
                            <div th:each="hotel:${hotels}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <!--/*@thymesVar id="hotel" type="com.travel.domain.Hotel"*/-->
                                        <img th:src="@{${hotel.url}}" alt="...">
                                        <div class="caption">
                                            <h4 th:text="${hotel.name}"></h4>
                                            <h5 th:text="${hotel.english}"></h5>
                                            <p class="ellipsis" th:text="${hotel.hotelDesc}"></p>
                                            <p th:text="${hotel.location}"></p>
                                            <span th:text="${hotel.price}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cate">
                        <!-- 哈尔滨店铺 -->
                        <div class="row">
                            <!--/*@thymesVar id="cates" type="com.travel.domain.Cates"*/-->
                            <div th:each="cate:${cates}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <!--/*@thymesVar id="cate" type="com.travel.domain.Cates"*/-->
                                        <img th:src="@{${cate.url}}" alt="...">
                                        <div class="caption">
                                            <h4><strong th:text="${cate.name}"></strong></h4>
                                            <p class="ellipsis" style="-webkit-line-clamp: 1;" th:text="${cate.location}"></p>
                                            <p class="ellipsis" style="-webkit-line-clamp: 2;" th:text="${cate.catesDesc}"></p>
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>
