<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>成都</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/js/head.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/travel.css">
</head>
<body>
<!--导入公共头部-->
<div th:replace="~{common/head::traveltop}"></div>
<div th:replace="~{common/head::userInfo}"></div>

<div class="xian" style="margin-top: -20px">
    <div class="scenery-head">
        <div class="container">
            <div class="row">
                <h3><strong>成都&nbsp;&nbsp;&nbsp;&nbsp;Chengdu</strong></h3>
                <span>欢迎您访问成都</span>
                <hr>
                <div class="col-lg-8">
                    <p>成都，简称“蓉”，别称蓉城、锦城，是四川省省会、副省级市、特大城市、成渝地区双城经济圈核心城市，国务院批复确定的中国西部地区重要的中心城市，</p>
                    <p>成都地处中国西南地区、四川盆地西部、成都平原腹地，境内地势平坦、河网纵横、物产丰富、农业发达，属亚热带季风性湿润气候，自古有“天府之国”的美誉</p>
                    <p>成都是全国十大古都和首批国家历史文化名城 ，古蜀文明发祥地。境内金沙遗址有3000年历史，周太王以“一年成聚，二年成邑，三年成都”
                        ，故名成都；蜀汉、成汉、前蜀、后蜀等政权先后在此建都；一直是各朝代的州郡治所；汉为全国五大都会之一；
                        唐为中国最发达工商业城市之一，史称“扬一益二”；北宋是汴京外第二大都会，发明世界上第一种纸币交子。拥有都江堰、武侯祠、杜甫草堂等名胜古迹，是中国最佳旅游城市</p>
                </div>
                <div class="col-lg-4">
                    <!--视频控件-->
                    <video controls>
                        <source src="../../video/成都.mp4" type="video/mp4">
                        <source src="../../video/成都.ogg" type="video/ogg">
                        <source src="../../video/成都.webm" type="video/webm">
                        <object data="../../video/成都.mp4" width="320" height="240">
                            <embed src="../../video/成都.swf" width="320" height="240">
                        </object>
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="container scenery-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页</a></li>
                    <li role="presentation"><a href="#scenery" aria-controls="scenery" role="tab" data-toggle="tab">景点</a></li>
                    <li role="presentation"><a href="#accommodation" aria-controls="accommodation" role="tab" data-toggle="tab">住宿</a></li>
                    <li role="presentation"><a href="#cate" aria-controls="cate" role="tab" data-toggle="tab">美食店</a></li>
                </ul>

            </div>
            <div class="panel-body">

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <!-- 成都主页 -->
                        <div class="main-info">
                            <div class="strategy">
                                <h2>旅游攻略</h2>
                                <div class="strategy-head">
                                    <h3>景点概况</h3>
                                    <hr>
                                </div>
                                <div class="strategy-item">
                                    <h4>成都速览</h4>
                                    <div>
                                        <p>成都拥有武侯祠、杜甫草堂、永陵、望江楼、青羊宫、文殊院、明蜀王陵、昭觉寺等众多历史名胜古迹和人文景观。成都也是四川大熊猫栖息地，拥有大熊猫基地。</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>最佳旅行时间</h4>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p>3-6月及9-11月是成都最佳旅游时间，不仅能欣赏美丽的城市风光，还能避开似火的骄阳。</p>
                                            <p>成都气候潮湿，日照较少，常年多云雾，年平均温度16℃。春秋两季的成都气温适中，气候较好，适合游玩。</p>
                                            <p>历史悠久， 有着丰富的旅游资源，1500多年前的晋代诗人左思曾由衷地称它是“既崇且丽”。“诗仙”李白和“诗圣”杜甫都曾赞扬过这座城池。成都是一座悠闲、乐观、宁静、繁华又洒脱的城市，是享乐天堂，是美女摇篮，是美食故里。</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-thumbnail" th:src="@{/images/homepage/chengdu_1.jpg}">
                                        </div>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>建议游玩天数</h4>
                                    <div>
                                        <p>3-4天。</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>路线推荐</h4>
                                    <div>
                                        <p>D1 宽窄巷子 → 锦里 → 武侯祠 → 杜甫草堂</p>
                                        <p>D2 熊猫基地 → 都江堰</p>
                                        <p>D3 九寨沟全景游</p>
                                        <p>D4 黄龙五景区全景游</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>必游景点</h4>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/chengdu_2.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">都江堰</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/chengdu_3.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">九寨沟</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/chengdu_4.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">熊猫基地</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/chengdu_5.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">杜甫草堂</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="scenery">
                        <!-- 成都景点 -->
                        <div class="row">

                            <div th:each="scenery:${sceneries}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <!--/*@thymesVar id="scenery" type="com.travel.domain.Scenery"*/-->
                                        <img th:src="@{${scenery.url}}" alt="...">
                                        <div class="caption">
                                            <h3 th:text="${scenery.name}"></h3>
                                            <p th:text="${scenery.location}"></p>
                                            <p th:text="${scenery.openTime}"></p>
                                            <span th:text="${scenery.level}"></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span th:text="${scenery.price}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="accommodation">
                        <!--成都住宿-->
                        <div class="row">
                            <div th:each="hotel:${hotels}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <!--/*@thymesVar id="hotel" type="com.travel.domain.Hotel"*/-->
                                        <img th:src="@{${hotel.url}}" alt="...">
                                        <div class="caption">
                                            <h4 th:text="${hotel.name}"></h4>
                                            <h5 th:text="${hotel.english}"></h5>
                                            <p class="ellipsis" th:text="${hotel.hotelDesc}"></p>
                                            <p th:text="${hotel.location}"></p>
                                            <span th:text="${hotel.price}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cate">
                        <!-- 成都店铺 -->
                        <div class="row">
                            <!--/*@thymesVar id="cates" type="com.travel.domain.Cates"*/-->
                            <div th:each="cate:${cates}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <!--/*@thymesVar id="cate" type="com.travel.domain.Cates"*/-->
                                        <img th:src="@{${cate.url}}" alt="...">
                                        <div class="caption">
                                            <h4><strong th:text="${cate.name}"></strong></h4>
                                            <p class="ellipsis" style="-webkit-line-clamp: 1;" th:text="${cate.location}"></p>
                                            <p class="ellipsis" style="-webkit-line-clamp: 2;" th:text="${cate.catesDesc}"></p>
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>