<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>杭州</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="/js/head.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/travel.css">
</head>
<body>
<!--导入公共头部-->
<div th:replace="~{common/head::traveltop}"></div>
<div th:replace="~{common/head::userInfo}"></div>

<div class="sanya" style="margin-top: -20px">
    <div class="scenery-head">
        <div class="container">
            <div class="row">
                <h3><strong>杭州&nbsp;&nbsp;&nbsp;&nbsp;Hangzhou</strong></h3>
                <span>欢迎您访问三亚</span>
                <hr>
                <div class="col-lg-8">
                    <p>杭州，简称“杭”，古称临安、钱塘，是浙江省省会、副省级市、杭州都市圈核心城市，国务院批复确定的中国浙江省省会和全省经济、文化、科教中心、长江三角洲中心城市之一 [1]  </p>
                    <p>杭州地处中国华东地区、钱塘江下游、东南沿海、浙江北部、京杭大运河南端，是环杭州湾大湾区核心城市 、沪嘉杭G60科创走廊中心城市、国际重要的电子商务中心。杭州人文古迹众多，西湖及其周边有大量的自然及人文景观遗迹，具代表性的有西湖文化、良渚文化、丝绸文化、茶文化，以及流传下来的许多故事传说。</p>
                    <p>杭州自秦朝设县治以来已有2200多年的历史，曾是吴越国和南宋的都城。因风景秀丽，素有“人间天堂”的美誉。杭州得益于京杭运河和通商口岸的便利，以及自身发达的丝绸和粮食产业，历史上曾是重要的商业集散中心。</p>
                </div>
                <div class="col-lg-4">
                    <!--视频控件-->
                    <video controls>
                        <source src="../../video/杭州.mp4" type="video/mp4">
                        <source src="../../video/杭州.ogg" type="video/ogg">
                        <source src="../../video/杭州.webm" type="video/webm">
                        <object data="../../video/杭州.mp4" width="320" height="240">
                            <embed src="../../video/杭州.swf" width="320" height="240">
                        </object>
                    </video>
                </div>
            </div>
        </div>
    </div>

    <div class="container scenery-info">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">主页</a></li>
                    <li role="presentation"><a href="#scenery" aria-controls="scenery" role="tab" data-toggle="tab">景点</a></li>
                    <li role="presentation"><a href="#accommodation" aria-controls="accommodation" role="tab" data-toggle="tab">住宿</a></li>
                    <li role="presentation"><a href="#cate" aria-controls="cate" role="tab" data-toggle="tab">美食店</a></li>
                </ul>

            </div>
            <div class="panel-body">

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <!-- 杭州主页 -->
                        <div class="main-info">
                            <div class="strategy">
                                <h2>旅游攻略</h2>
                                <div class="strategy-head">
                                    <h3>景点概况</h3>
                                    <hr>
                                </div>
                                <div class="strategy-item">
                                    <h4>杭州速览</h4>
                                    <div>
                                        <p>杭州拥有两个国家级风景名胜区——西湖风景名胜区、“两江两湖”（富春江——新安江——千岛湖——湘湖）风景名胜区；两个国家级自然保护区——天目山、清凉峰自然保护区；七个国家森林公园——千岛湖、大奇山、午潮山、富春江、青山湖、半山和桐庐瑶琳森林公园；
                                            一个国家级旅游度假区——之江国家旅游度假区；全国首个国家级湿地——西溪国家湿地公园。杭州还有全国重点文物保护单位25个、国家级博物馆9个。全市拥有年接待1万人次以上的各类旅游景区、景点120余处。</p>
                                        <p>著名的旅游胜地有瑶琳仙境、桐君山、武盛古街、雷峰塔、岳庙、三潭映月、苏堤、六和塔、宋城、南宋御街、灵隐寺、跨湖桥遗址等。2011年6月24日，杭州西湖正式列入《世界遗产名录》。</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>最佳旅行时间</h4>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <p>3-5月：春风和煦，春水醉人，最适合漫步苏提踏青赏花。</p>
                                            <p>6-8月：盛夏季节，天气火热，而西湖的荷花正在烈日下开得热火朝天。</p>
                                            <p>9-11月：天气秋高气爽，满陇桂雨的桂花飘香十里。中秋前后尤有看头白天可以观钱塘大潮，晚上能游湖赏月。</p>
                                            <p>12-2月：严冬时节，腊梅竟放，孤山赏梅，灵峰探梅，超山访梅三大赏梅圣地不可不去，西湖十景之一的“断桥 残雪”此时也迎来最动人时节。</p>
                                            <p>杭州气候温暖湿润，四季分明。每年3月-4月春暖花开，是旅游的旺季，气温在9－15℃之间，也是旅游的最好季节。9月-10月天气转凉，秋高气爽，但中秋以后常有较强的冷空气活动，应多备些衣服。</p>
                                            <p>杭州一年四季都有不同景致，如春天的柳浪闻莺，夏天的曲院风荷，秋天的平湖秋月，冬天的断桥残雪。</p>
                                        </div>
                                        <div class="col-lg-4">
                                            <img class="img-thumbnail" th:src="@{/images/homepage/hangzhou_1.jpg}">
                                        </div>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>建议游玩天数</h4>
                                    <div>
                                        <p>3-5天。</p>
                                    </div>
                                </div>
                                <div class="strategy-head">
                                    <h3>景点游玩</h3>
                                    <hr>
                                </div>
                                <div class="strategy-item">
                                    <h4>路线推荐</h4>
                                    <div>
                                        <p><a target="_blank" href="/travel/route/001?routeId=1">杭州5日游 游玩时间：5天  最佳季节：3-4月<small>(点击查看详情)</small></a></p>
                                        <p>D1 雷峰塔 → 苏堤 → 花港观鱼 → 三潭印月 → 白堤 → 南宋御街 → 清河坊街</p>
                                        <p>D2 飞来峰 → 梅家坞 → 千湖岛 → 杭州宋城景区</p>
                                        <p>D3 西溪国家湿地公园 → 京杭大运河 → 武林广场</p>
                                    </div>
                                </div>
                                <div class="strategy-item">
                                    <h4>必游景点</h4>
                                    <div class="row">
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/hangzhou_2.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">雷峰塔</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/hangzhou_3.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">三潭印月</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/hangzhou_4.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">飞来峰</h5>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            <div class="thumbnail">
                                                <img th:src="@{/images/homepage/hangzhou_5.jpg}" style="height: 163px;" alt="...">
                                            </div>
                                            <div class="caption">
                                                <h5 style="text-align: center;">京杭大运河</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="scenery">
                        <!-- 杭州景点 -->
                        <div class="row">
                            <!--/*@thymesVar id="sceneries" type="com.travel.domain.Scenery"*/-->
                            <div th:each="scenery:${sceneries}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <!--/*@thymesVar id="scenery" type="com.travel.domain.Scenery"*/-->
                                        <img th:src="@{${scenery.url}}" alt="...">
                                        <div class="caption">
                                            <h3 th:text="${scenery.name}"></h3>
                                            <p th:text="${scenery.location}"></p>
                                            <p th:text="${scenery.openTime}"></p>
                                            <span th:text="${scenery.level}"></span>&nbsp;&nbsp;|&nbsp;&nbsp;<span th:text="${scenery.price}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="accommodation">
                        <!--杭州住宿-->
                        <div class="row">
                            <!--/*@thymesVar id="hotels" type="com.travel.domain.Hotel"*/-->
                            <div th:each="hotel:${hotels}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <!--/*@thymesVar id="hotel" type="com.travel.domain.Hotel"*/-->
                                        <img th:src="@{${hotel.url}}" alt="...">
                                        <div class="caption">
                                            <h4 th:text="${hotel.name}"></h4>
                                            <h5 th:text="${hotel.english}"></h5>
                                            <p class="ellipsis" th:text="${hotel.hotelDesc}"></p>
                                            <p th:text="${hotel.location}"></p>
                                            <span th:text="${hotel.price}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="cate">
                        <!-- 杭州店铺 -->
                        <div class="row">
                            <!--/*@thymesVar id="cates" type="com.travel.domain.Cates"*/-->
                            <div th:each="cate:${cates}">
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail">
                                        <!--/*@thymesVar id="cate" type="com.travel.domain.Cates"*/-->
                                        <img th:src="@{${cate.url}}" alt="...">
                                        <div class="caption">
                                            <h4><strong th:text="${cate.name}"></strong></h4>
                                            <p class="ellipsis" style="-webkit-line-clamp: 1;" th:text="${cate.location}"></p>
                                            <p class="ellipsis" style="-webkit-line-clamp: 2;" th:text="${cate.catesDesc}"></p>
                                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>